<div>
  <h1 class="home-header"><i>Philosgraphy.</i></h1>
  <mat-card class="home-container"
    ><mat-card-title>Example Quote</mat-card-title>
    <mat-card-content>
      "Happiness depends upon ourselves." – Aristotle
    </mat-card-content>
    <button mat-stroked-button class="discard-button">Discard</button>
    <button mat-flat-button class="gallery-button">Save to Gallery</button>
  </mat-card>
  <button mat-icon-button aria-label="Back" matTooltip="Go back">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button aria-label="Forward" matTooltip="Next">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
